<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Metadados -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block title %}
            <!-- title -->
            <title>Ecoolet</title>
        {% endblock title %}

        <!-- links externos -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

        {% block styles %}{% endblock styles %}

        <!-- links css -->
        <link rel="stylesheet" href="/styles/main.css">

        <link rel="stylesheet" href="/styles/responsive.css">
    </head>
    <body>

        <div id="{{ pageId }}">
            {% block content %}{% endblock content %}
        </div>
        <!-- page-home--->

        {% block modal %}{% endblock modal %}

        {% block scriptps %}{% endblock scriptps %}

    </body>
</html>